POSTGRES_DB=ecommerce
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456789
POSTGRES_PORT=5432
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ecommerce
DB_USER=postgres
DB_PASSWORD=123456789
REDIS_PORT=6379
AUTH_PORT=8080
CATALOGO_PORT=8081
BUSINESS_PORT=8082
BOOKING_PORT=8083
NOTIFICATIONS_PORT=8084
ANALYTICS_PORT=8085
FRONTEND_PORT=3000
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080/api
NEXT_PUBLIC_AUTH_API_URL=http://localhost:8080
NEXT_PUBLIC_CATALOG_API_URL=http://localhost:8081
NEXT_PUBLIC_BUSINESS_API_URL=http://localhost:8082
NEXT_PUBLIC_BOOKING_API_URL=http://localhost:8083
NEXT_PUBLIC_WHATSAPP_API_URL=http://localhost:8084
NEXT_PUBLIC_ANALYTICS_API_URL=http://localhost:8085
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-app-password
